XSD/catalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    
    
    <!-- ID pattern: c1, c2, c10 ... -->
    <xs:simpleType name="componentIdType">
        <xs:restriction base="xs:ID">
            <xs:pattern value="c[0-9]+"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Category enumeration -->
    <xs:simpleType name="categoryType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Motherboard"/>
            <xs:enumeration value="CPU"/>
            <xs:enumeration value="GPU"/>
            <xs:enumeration value="RAM"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Positive price -->
    <xs:simpleType name="priceType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0.01"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Discount between 0 and 100 -->
    <xs:simpleType name="discountType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="100"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Image file pattern -->
    <xs:simpleType name="imageType">
        <xs:restriction base="xs:string">
            <xs:pattern value=".+\.(jpg|png|jpeg)"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!--Root Element-->
    
    <xs:element name="catalog">
        <xs:complexType>
            <xs:sequence>
                
                <!-- VAT with restriction -->
                <xs:element name="vat">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:minInclusive value="0"/>
                            <xs:maxInclusive value="100"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                
                <xs:element name="components">
                    <xs:complexType>
                        <xs:sequence>
                            
                            <xs:element name="component" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="brand" type="xs:string"/>
                                        <xs:element name="model" type="xs:string"/>
                                        <xs:element name="price" type="priceType"/>
                                        <xs:element name="stock" type="xs:integer"/>
                                        <xs:element name="image" type="imageType"/>
                                        <xs:element name="url" type="xs:anyURI"/>
                                        <xs:element name="discount" type="discountType"/>
                                    </xs:sequence>
                                    
                                    <!-- Attributes -->
                                    <xs:attribute name="id" type="componentIdType" use="required"/>
                                    <xs:attribute name="category" type="categoryType" use="required"/>
                                    
                                </xs:complexType>
                            </xs:element>
                            
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
            </xs:sequence>
            
            <!-- Root attribute -->
            <xs:attribute name="currency" type="xs:string" use="required"/>
            
        </xs:complexType>
    </xs:element>
    
</xs:schema>
