xmldata/catalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    
    <!-- Root element -->
    <xs:element name="catalog">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="vat" type="xs:decimal"/>
                <xs:element name="components">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="component" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="brand" type="xs:string"/>
                                        <xs:element name="model" type="xs:string"/>
                                        <xs:element name="price" type="xs:decimal"/>
                                        <xs:element name="stock" type="xs:integer"/>
                                        <xs:element name="image" type="xs:string"/>
                                        <xs:element name="url" type="xs:anyURI"/>
                                        <xs:element name="discount" type="xs:decimal"/>
                                    </xs:sequence>
                                    
                                    <!-- Attributes -->
                                    <xs:attribute name="id" type="xs:ID" use="required"/>
                                    <xs:attribute name="category" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            
            <!-- Root attributes -->
            <xs:attribute name="currency" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    
</xs:schema>
